rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      match /learning/{document=**} {
          allow read: if true;
          allow create,update,delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == "admin";
      }
      match /users/{userId} {
          allow read, update : if request.auth != null && request.auth.uid == userId;
          allow create, delete : if false; //functions
      }
    }	
  }
}